[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pillow = "*"
sv-ttk = ">=2.6.1,<3"
pywinstyles = {version = "*", markers = "sys_platform == 'win32'"}

[dev-packages]

[requires]
python_version = "3.12"
